.toolbox {
	position: absolute;
	padding: 0;
	margin: 0;

	@include atMedium {
		display: flex;
		width: 100%;
	}

	@include atSmall {
		flex-wrap: wrap;
	}

	&-row {
		display: inline-block;
		vertical-align: top;
		border: 0;
		width: 100%;

		&:hover {
			.toolbox-icon-wrapper {
				background-color: $brand-highlight-color;
			}

			.toolbox-text {
				background-color: $light-grey;
			}
		}

		@include atMedium {
			display: block;
		}

		@include atSmall {
			flex-basis: 33.333333%;
		}
	}

	&-link {
		display: flex;
		flex-direction: row;
		border-bottom: 0;
		text-align: center;
		text-decoration: none;
		background: #000;
		line-height: 66px;

		&-left {
			flex-direction: row-reverse;
		}
	}

	&-icon-wrapper {
		@include clearfix;

		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		align-content: center;

		width: 85px;
		border-bottom: 1px solid $brand-secondary-color;
		background-color: $brand-primary-color;
		height: 85px;
		transition: background-color 150ms ease-in;

		@include atMedium {
			width: 100%;
			border-right: 1px solid $brand-secondary-color;
		}
	}

	&-icon {
		width: 85px;
		height: 40px;
		
		@include atMedium {
			width: 100%;
		}
	}

	&-icon-svg {
		position: relative;
		top: 0;
		left: 0;
		pointer-events: none;
		fill: #fff;
		width: 40px;
		height: 40px;
	}

	&-icon-text {
		margin: 0 auto;
		float: none;
		line-height: normal;
		height: auto;
		color: #fff;
		font-size: 12px;
		padding-top: 10px;
	}

	&-text {
		display: inline-block;
		text-align: left;
		padding: 10px 0 0 24px;
		font-size: 16px;
		width: 285px;
		color: #ffffff;
		background-color: $dark-grey;
		border-bottom: 1px solid #4d4d4d;
		transition: background-color 150ms ease-in;

		@include atMedium {
			display: none;
		}
	}
}