.toolbox {
	position: absolute;
	padding: 0;
	margin: 0;

	&-row {
		display: inline-block;
		vertical-align: top;
		border: 0;
		width: 100%;
	}

	&-link {
		border-bottom: 0;
		text-align: center;
		text-decoration: none;
		background: #000;
		line-height: 66px;

	}

	&-icon-wrapper {
		@include clearfix;

		border-bottom: 1px solid #333;
		float: left;
		background-color: #000;
		height: 67px;
	}

	&-icon {
		width: 70px;
		float: none;
		margin: 0;
	}

	&-icon-svg {
		position: relative;
		top: 0;
		left: 0;
		pointer-events: none;
		fill: #fff;
		width: 34px;
		height: 34px;
	}

	&-icon-text {
		margin: 0 auto;
		float: none;
		line-height: normal;
		height: auto;
		color: #fff;
		font-size: 12px;
		padding-bottom: 10px;
	}

	&-text {
		display: inline-block;
		float: left;
		text-align: left;
		padding-left: 10px;
		font-size: 14px;
		width: 252px;
		color: #000;
		background-color: #fff;
		border-bottom: 1px solid #e5e5e5;
	}
}