.toolbox {
	position: absolute;
	padding: 0;
	margin: 0;

	@include atMedium {
		display: flex;
		width: 100%;
	}

	&-row {
		display: inline-block;
		vertical-align: top;
		border: 0;
		width: 100%;

		&:hover {
			.toolbox-icon-wrapper {
				background-color: #bc271a;
			}

			.toolbox-text {
				background-color: #404040;
			}
		}

		@include atMedium {
			display: block;
		}
	}

	&-link {
		display: flex;
		flex-direction: row;
		border-bottom: 0;
		text-align: center;
		text-decoration: none;
		background: #000;
		line-height: 66px;

		&-left {
			flex-direction: row-reverse;
		}
	}

	&-icon-wrapper {
		@include clearfix;

		border-bottom: 1px solid #eb4d55;
		background-color: #d8312d;
		height: 67px;
		transition: background-color 150ms ease-in;

		@include atMedium {
			width: 100%;
		}
	}

	&-icon {
		width: 70px;
		height: 42px;
		float: none;
		margin: auto;
	}

	&-icon-svg {
		position: relative;
		top: 0;
		left: 0;
		pointer-events: none;
		fill: #fff;
		width: 34px;
		height: 34px;
	}

	&-icon-text {
		margin: 0 auto;
		float: none;
		line-height: normal;
		height: auto;
		color: #fff;
		font-size: 12px;
		padding-bottom: 10px;
	}

	&-text {
		display: inline-block;
		text-align: left;
		padding-left: 24px;
		font-size: 16px;
		width: 252px;
		color: #ffffff;
		background-color: #333333;
		border-bottom: 1px solid #4d4d4d;
		transition: background-color 150ms ease-in;

		@include atMedium {
			display: none;
		}
	}
}