.toolbox-wrapper {
	display: block;
	position: fixed;
	width: 322px;
	right: -252px;
	top: 190px;
	transition: transform 250ms ease-in;

	&:hover {
		transform: translateX(-252px);
	}

	&-left {
		left: -252px;

		&:hover {
			transform: translateX(252px);
		}
	}

	@include atMedium {
		position: relative;
		top: 0;
		left: 0;
		width: 100%;

		&:hover {
			transform: none;
		}
	}
}