.toolbox {
	position: absolute;
	padding: 0;
	margin: 0;

	@include atMedium {
		display: flex;
		width: 100%;
	}

	@include atSmall {
		flex-wrap: wrap;
	}

	&-row {
		display: inline-block;
		vertical-align: top;
		border: 0;
		width: 100%;

		&:hover {
			
		}

		@include atMedium {
			display: block;
		}

		@include atSmall {
			flex-basis: 33.333333%;
		}

		&:first-child .toolbox-icon-wrapper {
			border-top-right-radius: 30px;
			border-top-left-radius: 30px;
		}

		&:last-child .toolbox-icon-wrapper {
			border-bottom-right-radius: 30px;
			border-bottom-left-radius: 30px;
		}
	}


	&-link {
		display: flex;
		flex-direction: row;
		border-bottom: 0;
		text-align: center;
		text-decoration: none;
		line-height: 66px;

		.toolbox-wrapper-left & {
			flex-direction: row-reverse;
		}
	}

	&-icon-wrapper {
		@include clearfix;

		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		align-content: center;
		width: 85px;
		background-color: #ffffff;
		height: 85px;
		transition: background-color 150ms ease-in;
		border: 1px solid $border-grey;
		border-bottom: 0;

		@include atMedium {
			width: 100%;
			border-right: 1px solid $brand-secondary-color;
		}
	}

	&-icon {
		width: 60px;
		height: 56px;
		
		@include atMedium {
			width: 100%;
		}
	}

	&-icon-svg {
		position: relative;
		top: 0;
		left: 0;
		pointer-events: none;
		fill: $brand-primary-color;
		width: 40px;
		height: 40px;
	}

	&-text {
		display: inline-block;
		text-align: left;
		padding: 10px 0 0 24px;
		font-size: 16px;
		width: 285px;
		color: #ffffff;
		background-color: $dark-grey;
		border-bottom: 1px solid #4d4d4d;
		transition: background-color 150ms ease-in;

		@include atMedium {
			display: none;
		}
	}
}