.toolbox {
	position: absolute;
	padding: 0;
	margin: 0;

	@include atMedium {
		display: flex;
		width: 100%;
	}

	@include atSmall {
		flex-wrap: wrap;
	}

	&-row {
		display: inline-block;
		vertical-align: top;
		border: 0;
		width: 100%;

		&:hover .toolbox-text-wrapper {
			transform: translateX(-285px);
			opacity: 1;

			.toolbox-wrapper-left & {
				transform: translateX(285px);
				opacity: 1;
			}
		}

		@include atMedium {
			display: block;
		}

		@include atSmall {
			flex-basis: 33.333333%;
		}

		&:first-child .toolbox-icon-wrapper {
			border-top-right-radius: 37px;
			border-top-left-radius: 37px;

			@include atMedium {
				border-radius: 0;
			}
		}

		&:last-child .toolbox-icon-wrapper {
			border-bottom-right-radius: 37px;
			border-bottom-left-radius: 37px;

			@include atMedium {
				border-radius: 0;
			}
		}

		.toolbox-wrapper-circle & {
			margin-bottom: 10px;

			animation: animateCircle 500ms ease-in-out forwards;
			animation-delay: calc(var(--i) * 100ms);

			@include atMedium {
				margin-bottom: 0;
			}
		}
	}


	&-link {
		display: flex;
		flex-direction: row;
		border-bottom: 0;
		text-align: center;
		text-decoration: none;
		line-height: 66px;

		.toolbox-wrapper-left & {
			flex-direction: row-reverse;
		}
	}

	&-icon-wrapper {
		@include clearfix;
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		align-content: center;
		width: 77px;
		background-color: #ffffff;
		height: 75px;
		border: 1px solid $border-grey;
		border-bottom: 0;

		.toolbox-wrapper-circle & {
			border-radius: 50%;

			@include atMedium {
				border-radius: 0;
			}
		}

		@include atMedium {
			width: 100%;
			border: none;
			border-right: 1px solid $border-grey;
			border-bottom: 1px solid $border-grey;
		}
	}

	&-icon {
		opacity: 0;
		width: 40px;
		height: 40px;
		animation: animateIcon 500ms ease-in-out forwards;
		animation-delay: calc(var(--i) * 100ms);

		.toolbox-wrapper-circle & {
			opacity: 1;
			animation: none;	
		}
		
		@include atMedium {
			width: 100%;
		}
	}

	&-icon-svg {
		position: relative;
		top: 0;
		left: 0;
		pointer-events: none;
		fill: $brand-primary-color;
		width: 40px;
		height: 40px;
	}

	&-icon-text {
		display: none;
		margin: 0 auto;
		float: none;
		line-height: normal;
		height: auto;
		color: $brand-primary-color;
		font-size: 12px;
		padding-top: 5px;

		@include atMedium {
			display: inline-block;
		}
	}

	&-text-wrapper{
		display: flex;
		justify-content: flex-end;
		width: 200px;
		background: none;
		margin-left: 10px;
		transition: transform 350ms ease-in-out;
		z-index: -1;

		animation: animateTextInRight 2500ms ease-in-out calc(var(--i) * 100ms) backwards;
		
		.toolbox-wrapper-left & {
			flex-direction: row-reverse;
			margin: none;
			margin-right: 10px;
			animation: animateTextInLeft 2500ms ease-in-out calc(var(--i) * 100ms) backwards;
		}

		@include atMedium {
			display: none;
		}
	}

	&-text {
		display: block;
		padding: 0 18px;
		line-height: 40px;
		font-size: 14px;
		width: auto;
		height: 45px;
		margin: auto 0 auto;
		border-radius: 25px;
		color: $brand-primary-color;
		background-color: #ffffff;

		@include atMedium {
			display: none;
		}
	}

	&-text-space {
		display: block;
		height: 100%;
		background: 0;
		width: 20px;

		@include atMedium {
			display: none;
		}
	}
}