.toolbox-wrapper {
	display: block;
	position: fixed;
	width: 322px;
	right: -220px;
	top: 190px;

	&-left {
		left: -285px;

		&:hover {
			transform: translateX(285px);
		}
	}

	@include atMedium {
		position: relative;
		top: 0;
		left: 0;
		width: 100%;

		&:hover {
			transform: none;
		}
	}
}